$gutter: 10px;
$margin: -$gutter;
$maxwidth: 960px;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body, * { box-sizing: border-box; }
body {
  margin: 0px auto;
  text-align: center;
}

.container {
  max-width: $maxwidth;
  margin: 0px auto;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 1;
}
.row {
  margin: 0px $margin;
  display: block;
  clear: both;
  width: 100%;
  @include clearfix;
}

.column {
  float: left;
  padding: 0px $gutter;
  &.one     { width: 8.3333%; }
  &.two     { width: 16.6666%; }
  &.three   { width: 25%; }
  &.four    { width: 33.3333%; }
  &.five    { width: 41.6666%; }
  &.six     { width: 50%; }
  &.seven   { width: 58.3333%; }
  &.eight   { width: 66.6666%; }
  &.nine    { width: 75%; }
  &.ten     { width: 83.3333%; }
  &.eleven  { width: 91.6666%; }
  &.twelve  { width: 100%; }
  &.center {
    text-align: center;
  }
  &.offset-one {
    margin-left: calc(8.3333%);
  }
  &.offset-two {
    margin-left: calc(16.6666% + #{$gutter} + #{$gutter} + #{$gutter} + #{$gutter});
  }
  &.offset-three {
    margin-left: calc(25% + #{$gutter} + #{$gutter} + #{$gutter} + #{$gutter});
  }
  &.offset-four {
    margin-left: calc(33.3333% );
  }
  &.extra-pad {
    padding: 0px $gutter+9px;
  }
}
