<footer>
  <div class="container">
    <div class="row">
      <div class="column four offset-two">
        <ul id="footer-nav">
          <li><a href="/">Preconditions</a></li>
          <li><a href="https://docs.google.com/document/d/1HdxOXWgfzClokilRHaRrX897iHI4hTOf5tZd4t930cs/edit?usp=sharing">Documentation</a></li>
          <li><a href="/">Demo</a></li>
          <li><a href="/acknowledgements">Acknowledgements</a></li>
        </ul>
      </div>
      <div class="column four">
        <h2>Contact</h2>
        <ul id="contact-list">
          <li><a href="https://github.com/themoonsheep"><img src="{{ "/assets/footer/github.svg" | prepend: site.baseurl }}" alt="github octocat icon">Contribute on GitHub</a></li>
          <li><a href="https://slack.transparencee.org/"><img src="{{ "/assets/footer/Slack.svg" | prepend: site.baseurl }}" alt="slack icon">Join the Slack</a></li>
          <li><a href="mailto:contact@moonsheep.org"><img src="{{ "/assets/footer/email.svg" | prepend: site.baseurl }}" alt="email icon">contact@moonsheep.org</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="column twelve center title license">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">
          <img src="{{ "/assets/footer/licences.svg" | prepend: site.baseurl }}" alt="Licensing Icons">
        </a>
      </div>
    </div>
  </div>
</footer>
