html, body {
  //height: 100%;
  min-height: 100%;
}
body {

//  height: 100%;
  color: $white;
  @include mainGradient;
  a { color: $white; }
}

#stars {
  position: relative;
  z-index: 0;
  > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.question-claim {
  @include anonType(42px);
  line-height: 50px;
  margin-top: 0px;
}
.tagline {
  @include openType(22px);
  line-height: 30px;
  padding-bottom: 180px;
}
a, a:hover {
  color: $white;
}
a.link {
  @include anonType(18px);
}
a.a-link {
  @include anonType(18px);
  display: block;
  float: right;
  clear: both;
  @include clearfix;
}

#case-studies {
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0 2px 4px 0 rgba(71,47,70,0.8);
  background: rgba(255,255,255, 0.25);
}
.intro {
  @include openType(18px);
  line-height: 30px;
}
blockquote {
  margin: 40px 0px;
  display: block;
  float: left;
  clear: both;

  @include clearfix;
  p.quote {
    padding: 0px 80px;
    min-height: 50px;
    margin: 0px;
    background: url(../assets/landing-page/case-study/quotes.svg) no-repeat left top;
    @include openType(18px);
    line-height: 30px;
  }
  .author {
    display: block;
    float: right;
    img {
      width: 60px;
      height: 60px;
      margin: 0px 20px;
      vertical-align: middle;
      display: block;
      float: left;
    }
    .author-name {
      @include openType(18px);
      line-height: 30px;
      display: block;
      float: left;
    }
  }
}

.title {
  margin-top: 80px;
}


#pros-and-cons {
  h2 {
    padding-bottom: 10px;
    border-bottom: 3px solid #B5A1A1;
  }
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    li {
      @include openType(18px);
      line-height: 30px;
      padding-bottom: 20px;
    }
  }
}

#assess-needs {
  margin-top: 40px;
  margin-bottom: 60px;

}
.license {
  padding-bottom: 60px;
}
.logos-row {
  margin-top: 25px;
  margin-bottom: 50px;
  &:nth-child(even){
    margin-top: 100px;
  }
  p {
    @include anonType(20px);
    text-transform: uppercase;
  }
}

.people-row {
  margin-top: 25px;
  margin-bottom: 50px;

  .person_name {
    font-weight: 700;
    font-size: 30px;
    display: block;
    clear: both;
  }
  .person_role {
    @include anonType(20px);
    text-transform: uppercase;
  }
}

.logo-smaller {
  float: right;
}

#acknowledgements {
  .row-intro {
    padding-top: 170px;
    background: url("../assets/logos/moonsheep-logo.svg") no-repeat top right;
  }
  p.intro {
   font-size: 22px;
    padding-bottom: 100px;
  }
}
table#precond-table {
  td {
    vertical-align: middle;
    padding: 0px;
    &:nth-child(odd) {
      padding: 0px 20px;
    }
  }
}
