<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="stars">
    <div class="container">
    {% include header.html %}
    </div>
    <main id="acknowledgements">
      <div class="container">
        <div class="row">
          <div class="column twelve">

          </div>
        </div>

        <div class="row row-intro">
          <div class="column twelve">
          <!--   <img src="{{ "/assets\logos\moonsheep-logo.png" | prepend: site.baseurl }}" alt="Moonsheep Logo - the moon as the sheep's body, basically" class="logo-smaller"> --> 
            <h1>Acknowledgements</h1>
            <p class="intro">Moonsheep wouldn’t happen without a dedicated involvement of several individuals and  organizations working towards a common goal.</p>
          </div>
        </div>

        <div class="row people-row">
          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_Bartosz.png" | prepend: site.baseurl }}" alt="Bartosz Aninowski - Devops" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Bartosz Aninowski</span>
            <span class="person_role">Devops</span>
          </div>

          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_Vanja.png" | prepend: site.baseurl }}" alt="Vanja Bertalan - automation" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Vanja Bertalan</span>
            <span class="person_role">Automation</span>
          </div>
        </div>

        <div class="row people-row">
          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_Marit.png" | prepend: site.baseurl }}" alt="Marit Brademann - scrum master" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Marit Brademann</span>
            <span class="person_role">Scrum Master</span>
          </div>

          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_Tin.png" | prepend: site.baseurl }}" alt="Tin Geber - Strategy, concepts, organization" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Tin Geber</span>
            <span class="person_role">Strategy, concepts, organization</span>
          </div>
        </div>

        <div class="row people-row">
          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_Attila.png" | prepend: site.baseurl }}" alt="Attila Juhasz - subject matter expert" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Attila Juhasz</span>
            <span class="person_role">subject matter expert</span>
          </div>

          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_Krzysztof.png" | prepend: site.baseurl }}" alt="Krzysztof Madejski - BACKEND DEVELOPER, ORGANIZATION" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Krzysztof Madejski</span>
            <span class="person_role">BACKEND DEVELOPER, ORGANIZATION</span>
          </div>
        </div>

        <div class="row people-row">
          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_Ozren.png" | prepend: site.baseurl }}" alt="Ozren Muic - UX, DESIGN" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Ozren Muic</span>
            <span class="person_role">UX, DESIGN</span>
          </div>

          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_Piotr.png" | prepend: site.baseurl }}" alt="Piotr Pęczek - BACKEND DEVELOPER" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Piotr Pęczek</span>
            <span class="person_role">BACKEND DEVELOPER</span>
          </div>
        </div>

        <div class="row people-row">
          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_maya.png" | prepend: site.baseurl }}" alt="Maya Richman - SCRUM MASTER, ORGANIZING" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Maya Richman</span>
            <span class="person_role">SCRUM MASTER, ORGANIZING</span>
          </div>

          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_Grygorii.png" | prepend: site.baseurl }}" alt="Grygorii Sorochan - SUBJECT MATTER EXPERT" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Grygorii Sorochan</span>
            <span class="person_role">SUBJECT MATTER EXPERT</span>
          </div>
        </div>

        <div class="row people-row">
          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_Dimitri.png" | prepend: site.baseurl }}" alt="Dimitri Stamatis - UX, DESIGN" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Dimitri Stamatis</span>
            <span class="person_role">UX, DESIGN</span>
          </div>

          <div class="column two center">
            <img src="{{ "/assets\about-pics\person_alan.png" | prepend: site.baseurl }}" alt="Alan Zard - BACKEND DEVELOPER" class="person-avatar">
          </div>
          <div class="column four">
            <span class="person_name">Alan Zard</span>
            <span class="person_role">FRONTEND DEVELOPER, TECHNO GARDENING</span>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="row logos-row">
          <div class="column six">
            <a href="https://theengineroom.org"><img src="{{ "/assets\about-pics\logo_ER-Matchbox.png" | prepend: site.baseurl }}" alt="" class="" /></a>
            <p>DEPLOYING CROWDSOURCING SOLUTIONS IN MATCHBOX PROGRAM REPLICATION SPRINTS</p>
          </div>

          <div class="column six">
            <a href="https://transparencee.org/"><img src="{{ "/assets\about-pics\logo_transparencee.png" | prepend: site.baseurl }}" alt="" class="" /></a>
            <p>DEPLOYING CROWDSOURCING SOLUTIONS VIA REPLICATION SPRINTS</p>
          </div>
        </div>
        <div class="row logos-row">
          <div class="column six">
            <a href="https://k-monitor.hu"><img src="{{ "/assets\about-pics\logo_k-monitor.png" | prepend: site.baseurl }}" alt="" class="" /></a>
            <p>transcribing Hungarian MPs asset declarations</p>
          </div>

          <div class="column six">
            <a href="https://www.oporaua.org/"><img src="{{ "/assets\about-pics\logo_opora.png" | prepend: site.baseurl }}" alt="" class="" /></a>
            <p>transcribing donations to Ukrainian political parties</p>
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>
